/venv/
r2a/r2afdash.py
.DS_Store
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

tex/egpaper_final.aux

tex/egpaper_final.log

tex/egpaper_final.pdf

tex/egpaper_final.synctex.gz

tex/egpaper_final.blg
